* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Header */

header {
  background-color: #373C3F;
  width: 100vw;
  height: 10vh;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: none; 
}

.container-burger { 
  background-color: #27212D;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.burger-icon {
  width: 30px; 
  height: 30px; 
}

header h2 {
  margin-left: 10px; 
  color: white; 
  font-size: 18px; 
  font-weight: 500;
}

.arrow {
  width: 30px; 
  height: 30px; 
}

/* 640 header */

@media screen and (min-width: 640px) {

  header h2 {
    font-size: 22px;
    margin-left: 20px; 
  }

}

/* 980 header */

@media screen and (min-width: 980px) {

  header h2 {
    display: none; 
  }

  .container-burger { 
    display: none; 
  }
  
  .burger-icon {

    display: none;
  }

  nav {
    width: 60vw; 
  }

  ul {
    display: flex; 
    justify-content: space-around;
    color: white; 
  }

}



/* First Section */

.first {
  background-color: #11ABBF;
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  color: white; 
}

.first .arrow {
  width: 20px; 
  height: 20px; 
}

.site-icon {
  display: flex;
  width: 100vw; 
  justify-content: space-around;
  margin-top: 1em;
}

h1 {
  font-size: 20px;
  width: 13em;
}

/* 640 first section */

@media screen and (min-width: 640px) {

  h1 {
    font-size: 30px; 
    width: 16em;

  }

  .site-icon {
    margin-top: 1em;

    font-size: 25px; 
  }

  .first {
    height: 90vh; 
  }
}

/* 980 first section */

@media screen and (min-width: 980px) {

  h1 {
    font-size: 40px; 
    width: 16em;

  }

  .first .arrow {
    width: 30px; 
    height: 30px; 
  }

}

/* second section */

.second {
  display: flex; 
  background-color: #27212D;
  color: white; 
  height: 20vh;
  align-items: center;
  justify-content: center;

}

.second h3 {
  font-weight: 500; 
  font-size: 16px;
  color: #8F8399; 
  width: 70vw;
  padding-left: 10px; 
  padding-right: 10px;

}

.second .container-arrow2 {
  width: 30vw; 
  background-color: #BC3184;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

/* 640 second section */

@media screen and (min-width: 640px) {

  .second h3 {
    font-size: 20px; 
    padding-left: 30px;
  }

}



/* third section */

.third {
  display: flex; 
  flex-direction: column; 
}

.container-arrow3 {
  width: 320px;
  height: 278px;
  background-color: #5A0FA0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.picture {
  width: 320px;
  height: 278px;
}

/* 640 third section */

@media screen and (min-width: 640px) {

  .picture {
    width: 640px;
    height: 556px;
  }

  .container-arrow3 {
    width: 640px;
    height: 556px;
  }

  .third .arrow {
    width: 50px;
    height: 50px; 
  }

}

/* 980 third section */

@media screen and (min-width: 980px) {

  .third {
    flex-direction: row; 
    width: 100vw; 
  }

  .picture {
    width: 327px;
    height: 284px;
  }

  .container-arrow3 {
    width: 326px;
    height: 284px;
  }

}

/* fourth section */

.fourth {
  background-color: #EBEBEB;
  width: 100vw;
}

.fourth p {
  text-align: justify;
}

.fourth h2 {
  color: #11ABBF; 
  padding-top: 30px;
  margin-bottom: 30px;  
  margin-left: 20px;
}

.fourth .text {
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;  
}


/* 640 fourth section */ 

@media screen and (min-width: 640px) {

  .fourth .text {
    padding-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .fourth h2 {
    margin-left: 60px;
  }

}

/* 980 fourth section */

@media screen and (min-width: 980px) {

  .fourth {
    flex-direction: row; 
  }

  .fourth .all-text {
    display: flex; 
  }

}

/* footer */

footer {
  height: 10vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #373C3F; 
  color: #8F8399;
}